body {
  min-width: 300px;
  width: auto !important;
  width: 500px;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.row {
  display: block;
  box-sizing: border-box;
  width: 100%;
  /*min-width: 500px;*/
  margin: auto;
}

.boundaries {
  display: block;
  box-sizing: border-box;
  width: 100%;
  /*min-width: 500px;*/
  margin: auto;
}

.todoItems {
  display: inline-block;
  width: 70%;
  float: left;
  height: 5em;
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

.delete {
  display: inline-block;
  width: 30%;
  height: 5em;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin-top: 20px;
}

#create {

}

#inputItem {

}